$fed-color: #a1cf56;
$black: #000;
$white: #fff;
$accent: (
  light: mix($white, $fed-color, 50%),
  neutral: $fed-color,
  dark: mix($black, $fed-color, 50%),
);

@import 'toolkit';
@import 'stage-fright';
@import 'ibm-colors';

@mixin hackademy-header($accent) {
  @include checkerboard(color($accent, 80), color($accent, 50), $steps: 5);
  @include close-shade($black, #111, 'bottom right', 15);
  background-color: color($accent, 50);
}

%fed--mark {
  background-image: url('../images/fed.svg');
  background-position: bottom .5em left .5em;
  background-repeat: no-repeat;
  background-size: 30vw;
}

//////////////////////////////
// Background
//////////////////////////////
.stage-fright {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-size: 1.5em;
  // font-weight: 400;

  &::after {
    @extend %fed--mark;
    bottom: .5em;
    content: '';
    display: block;
    height: calc(100vh - 1em);
    opacity: .15;
    position: absolute;
    right: .5em;
    width: calc(100vw - 1em);
    z-index: -100;
  }

}

//////////////////////////////
// State
//////////////////////////////
[data-state='section'] {
  @extend %fed--mark;
  background-color: $fed-color;

  ._stage--content {
    h2 {
      font-size: 4em;
      font-weight: 300;
      text-shadow: 0 0 transparent;
    }
  }
}

[data-state='intro'],
[data-state='end'] {
  @extend %fed--mark;
  background-color: $fed-color;
  background-position: 25% 50%;
  justify-content: flex-end;

  ._stage--content {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 100%;
    padding: 3rem;
    width: 50%;
  }

  .half-n-half--title-style {
    font-size: 1.5em;
    font-weight: 300;
  }

  h1 {
    color: $black;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5em;
    text-align: left;
    text-shadow: 0 0 transparent;
  }
}

[data-state='end'] {
  ._stage--content {
    align-content: center;
  }

  .thumbs-up {
    margin: 1rem 1rem 0 0;
  }

  ul {
    flex-basis: 100%;
  }
}

[data-state='hackademy-talks'] {
  ul {
    grid-gap: 0; // sass-lint:disable-line no-misspelled-properties
  }

  li {
    color: $white;
    padding: .75rem;

    &:nth-of-type(odd) {
      text-align: right;
    }

    &:nth-of-type(1) {
      @include hackademy-header('violet');
    }

    &:nth-of-type(2) {
      @include hackademy-header('teal');
    }

    &:nth-of-type(3) {
      @include hackademy-header('lime');
    }

    &:nth-of-type(4) {
      @include checkerboard(color('cool-grey', 30), color('cool-grey', 10), $steps: 5);
      @include close-shade($black, #111, 'bottom right', 15);
      background-color: color('cool-grey', 30);
    }

    &:nth-of-type(5) {
      @include hackademy-header('peach');
    }

    &:nth-of-type(6) {
      @include hackademy-header('magenta');
    }

    &:nth-of-type(7) {
      @include hackademy-header('blue');
    }

    &:nth-of-type(8) {
      @include hackademy-header('red');
    }

    &:nth-of-type(9) {
      @include hackademy-header('gold');
    }
  }
}

[data-state='hackademy-workshops'] {
  ul {
    grid-gap: 0; // sass-lint:disable-line no-misspelled-properties
  }

  li {
    color: $white;
    padding: .75rem;

    &:nth-of-type(odd) {
      text-align: right;
    }

    &:nth-of-type(1) {
      @include hackademy-header('magenta');
    }

    &:nth-of-type(2) {
      @include checkerboard(color('cool-grey', 30), color('cool-grey', 10), $steps: 5);
      @include close-shade($black, #111, 'bottom right', 15);
      background-color: color('cool-grey', 30);
    }
  }
}

//////////////////////////////
// General Override
//////////////////////////////
[data-state='hackademy'] {
  background-image: url('../images/fed.svg'), url('../images/hackademy.jpg');
  background-position: bottom .5em right .5em, center;
  background-repeat: no-repeat;
  background-size: 30vw, cover;

  blockquote {
    $padding: 1.5rem;
    $blockquote-background: rgba($white, .9);

    background: $blockquote-background;
    border-radius: 1rem;
    padding: $padding;

    &::before {
      height: calc(100% - #{$padding * 2});
      left: $padding / 2;
      top: $padding;
    }
  }
}

//////////////////////////////
// Custom Styling
//////////////////////////////
.slide-notes--content {
  * {
    break-inside: unset;
  }
}

._stage--content {

  *:not(li) + *:not(li) { // sass-lint:disable-line force-pseudo-nesting
    margin-top: 2.25rem;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1em;
  }

  li {
    line-height: 2.25rem;
  }

  a {
    background-position: 0 1.175em;

    &:hover {
      background-position: 0 1.175em;
    }
  }

  p {
    line-height: 2.25rem;
  }

  blockquote {
    p {
      line-height: 1.5em;
    }
  }

  cite {
    display: block;
    font-weight: 600;
  }
}


.grid-list {
  display: grid;
  grid-gap: .75rem; // sass-lint:disable-line no-misspelled-properties
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin-left: 0;
  margin-top: .75rem;

  li {
    grid-column: span 1;
    margin-top: 0;
  }
}

.split-list {
  columns: 2;
  list-style: none;
  margin-left: 0;
  margin-top: .75rem;

  li {
    break-inside: avoid;

    + li {
      margin-top: .75rem;
    }
  }
}

%model--item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.model {
  $ux: rgb(101, 149, 224);
  $be: rgb(232, 195, 65);

  display: grid;
  font-size: .75em;
  grid-gap: .25rem; // sass-lint:disable-line no-misspelled-properties
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 1fr .5fr .5fr;
  text-align: center;

  *:not(li) + *:not(li) { // sass-lint:disable-line force-pseudo-nesting
    margin-top: 0;
  }

  p {
    line-height: 1.25;
    padding: 1rem .5rem;
  }

  &--ux {
    @extend %model--item;
    background-color: $ux;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  &--back-end {
    @extend %model--item;
    background-color: $be;
    grid-column: 6 / span 1;
    grid-row: 1 / span 2;
  }

  &--markup {
    @extend %model--item;
    background: $fed-color;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  &--jsf {
    @extend %model--item;
    background: $fed-color;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  &--vjs {
    @extend %model--item;
    background: $fed-color;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  &--njs {
    @extend %model--item;
    background: $fed-color;
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
  }

  &--nm {
    @extend %model--item;
    background: $fed-color;
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
  }

  &--spectrum {
    @extend %model--item;
    border-top: 1px solid $black;
    grid-column: 2 / span 4;
    grid-row: 4 / span 1;
    position: relative;

    &::before {
      @include triangle($angle: 270deg);
      content: '';
      left: 0;
      position: absolute;
      transform: translateY(-1.75rem);
    }

    &::after {
      @include triangle($angle: 90deg);
      content: '';
      position: absolute;
      right: 0;
      transform: translateY(-1.75rem);
    }
  }
}


.us {
  display: grid;
  grid-gap: 1rem;  // sass-lint:disable-line no-misspelled-properties
  grid-template-columns: 1fr 1fr;
  list-style: none;
  text-align: center;

  &--image {
    border: .3rem $fed-color double;
    border-radius: 50%;
    width: 50%;
  }

  &--name,
  &--desc {
    display: block;
  }

  &--desc {
    font-size: .8em;
    line-height: 1em;
    margin-top: 0 !important; // sass-lint:disable-line no-important
  }
}
