---
pages:
  - title: Building a Front-End Development Community at Work
    slides:
      - intro.md
  - folder: story
    slides:
      - begins.md
      - fade.html
      - individuals.md
      - vision.md
      - actions.md
      - anchored.md
  - folder: hackademy
    slides:
      - title.html
      - overview.html
      - evolution.html
      - talks.html
      - hackathon.html
      - all.html
  - slides:
      - quote.html
  - slides:
      - thanks.html
---
{% extends '_layout.html' %}

{% from '_slide.html' import slide %}

{%block content %}
<main class="_stage">
  {% for section in pages %}
    <article class="_stage--group" {% if section.title %}data-title="{{section.title}}"{% endif %}>
      {% for page in section.slides %}
        {{ slide(page, section) }}
      {% endfor %}
    </article>
  {% endfor %}
</article>
{% endblock %}

