---
pages:
  - title: Building a Front-End Development Community at Work
    slides:
      - intro.html
  - folder: story
    slides:
      - begins.md
      - fade.html
      - individuals.md
      - vision.md
      - actions.md
      - anchored.md
  - slides:
      - quote.html
  - folder: feducation
    slides:
      - feducation-intro.md
      - feducation-funfacts.md
      - feducation-guests.md
      - feducation-stats.md
      - feducation-quote.html
      - feducation-quote2.html
      - feducation-global.md
  - slides:
      - thanks.html
---
{% extends '_layout.html' %}

{% from '_slide.html' import slide %}

{%block content %}
<article class="_stage">
  {% for section in pages %}
    <section class="_stage--group" {% if section.title %}data-title="{{section.title}}"{% endif %}>
      {% for page in section.slides %}
        {{ slide(page, section) }}
      {% endfor %}
    </section>
  {% endfor %}
</article>
{% endblock %}

